<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>
  <body class="container">
    <header>
      <% include ../partials/header %>
    </header>

    <main>
      <div class="jumbotron">
        <h3>Products</h3>
        <p>List of products</p>
      </div>
      <% docs.map((product) => { %>
          Name: <%= product.product_name %> (ID: <%= product._id %>)<br />
          <% if(product.product_price.offer_price !== null){ %>
            Price: $ <%= product.product_price.normal_price %> (Offer: $ <%= product.product_price.offer_price %>)<br />
            <% }else{ %>
            Price: $ <%= product.product_price.normal_price %> - No offer price for this product<br />
          <% } %>
        </p>
        <hr />
      <% }) %>
    </main>

    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
