<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>
  <body class="container">
    <header>
      <% include ../partials/header %>
    </header>

    <main>
      <div class="jumbotron">
        <h3>Scraping configuration</h3>
        <p>Shop: Countdown</p>
      </div>
      <p>Last scraping was successful!</p>
      <button style="text-decoration: none">Categories</button>

      <p>Set the number of Cateogories to scrape: <input type="text" id="NumberCat"></p>
      <!-- <%products.map((product) => { 
          categories.map((category) =>{
            if(product.category_id == category.category_id)
              category_n = category.category_name
          })
          %>
          Name: <%= product.product_name %> (ID: <%= product.product_id %>)<br />
          Category: <%= category_n %><br />
          <% if(product.product_price.offer_price !== null){ %>
            Price: $ <%= product.product_price.normal_price %> (Offer: $ <%= product.product_price.offer_price %>)<br />
            <% }else{ %>
            Price: $ <%= product.product_price.normal_price %> - No offer price for this product<br />
          <% } %> -->
        </p>
        <hr />
      <% }) %>
    </main>

    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
